/*=============== BUTTON ===============*/
.button{
    &__link{
        color: var(--title-color);
        font-weight: var(--font-medium);
        display: inline-flex;
        align-items: center;
        column-gap: .5rem;
        border: none;
        background-color: transparent;
        cursor: pointer;
        
        & i{
            font-size: 1rem;
            transition: .3s;
        }
        &:hover i{
            transform: translateX(.25rem);
        }
    }
}

.buttonDefault{
    display: inline-block;
    background-color: var(--title-color);
    color: #fff;
    padding: 1rem 1.75rem;
    border-radius: .25rem;
    font-size: var(--normal-font-size);
    text-transform: uppercase;
    white-space: nowrap;
}