/*=============== BLOG ===============*/

.containerSelect {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .labelSelect {
    font-size: 14px;
    font-weight: 700;
    color: #6c757d;
    margin-bottom: 5px;
  }

  .contentSelect {
    width: 100%;
    height: fit-content;
    position: relative;
    border-color: #e2e8f0;
    word-wrap: break-word;


    select {
    padding-inline-end: 2rem;
    width: 100%;
    min-width: 0px;
    outline: transparent solid 2px;
    outline-offset: 2px;
    position: relative;
    appearance: none;
    transition-property: background-color, border-color, color, fill, stroke,
      opacity, box-shadow, transform;
    transition-duration: 200ms;
    background: inherit;
    padding-bottom: 1px;
    line-height: normal;
    font-size: 14px;
    color: #6c757d;
    padding-inline-start: 1rem;
    height: 2.5rem;
    border-radius: 0.375rem;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    border-color: inherit;
    &::placeholder {
      color: #cccccc;
    }
    &:focus-visible {
      z-index: 1;
      border-color: rgb(49, 130, 206);
      box-shadow: rgb(49 130 206) 0px 0px 0px 1px;
    }

   

      &.isIcon {
        padding-inline-start: 2.5rem;
        padding-inline-end: 2.5rem;
      }
    }

    .rightInputElement {
      right: 0px;
      width: 2.5rem;
      height: 2.5rem;
      font-size: 1rem;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      position: absolute;
      top: 0px;
      pointer-events: none;
    }
    
    .leftInputElement {
      left: 0px;
      width: 2.5rem;
      height: 2.5rem;
      font-size: 1rem;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      position: absolute;
      top: 0px;
      pointer-events: none;
    }
  }
}
